<article [class.post]=" isPost "
         [class.comment]=" isComment "   
         [attr.depth]=" post.depth "  
>

  {{ post.member?.nickname }}
  
<h2 *ngIf=" isPost "  >{{post.subject}}</h2>
<div *ngIf="post" [innerHTML] = "post.content" [hidden]="hideContent" class="post-content"></div>

 <!--list images -->
    <div *ngIf=" post.photos.length " class="uploaded-files" [attr.no-files]=" post.photos.length " [hidden]="hideContent">
        <img *ngFor=" let photo of post.photos " [src]=" photo.url_thumbnail ">
    </div>

<!--like edit etc. buttons-->
    <span class="buttons" [hidden]="hideContent">
        <span *ngIf=" isComment " (click)="onClickReply()" class="reply">Reply</span> &nbsp;
        <span  (click)="onClickEdit()" class="edit">Edit</span> &nbsp;
        <span *ngIf=" ! post.inDeleting " (click)="onClickDelete()" class="delete">Delete</span>
        <i *ngIf=" post.inDeleting " class="fa fa-spinner fa-spin"></i> &nbsp;
        <span  (click)="onClickLike()" class="like">Like <span *ngIf=" !post.inLike " >({{ post.good }})</span></span>
        <i *ngIf=" post.inLike " class="fa fa-spinner fa-spin"></i> &nbsp;
        <span *ngIf=" !post.inReport " (click)="onClickReport()" class="report">Report</span>
        <i *ngIf=" post.inReport " class="fa fa-spinner fa-spin"></i>
    </span>
   

<!--- Edit Post Component -->
 <edit-post-component #editComponent 
        [current]=" post "
        [mode]=" mode "
        [active]= " active "
        (error) = " editComponentOnError( $event ) "
        (cancel) = " editComponentOnCancel() "
        (success) = " editComponentOnSuccess() "
    ></edit-post-component>
    
</article>
