@mixin title_icon( $icon ) {

  &:before {

    padding-right : 3px;
    content: $icon;
    font-family: "FontAwesome";
    color:dimgrey;


    font-size: 1.2em;
    vertical-align: middle;
  }
}

post-view-component{
    margin: 0;
     .member{
       @include title_icon( '\f2bd' );
       font-weight: bold;
       font-size: 1em;
       margin-bottom: 1em;
     }
     .post {
        margin-top : 1em;
        margin-bottom: 0.5em;
        padding: 1em;
       
     
       border: 1px solid gray;
    
       font-size: 1em;


        .post-content {
          margin : 1em 0;
        }
    }

    .comment {
        margin-left: 0.5em;
        margin-top : 1em;
        padding: 1em;
        border: 1px solid dimgray;

      
        color : black;
        font-size: 0.9em;


        .post-content {
           margin : 1em 0;
        }

         
        &[depth='1'] { margin-left: 2em; }
        &[depth='2'] { margin-left: 3em; }
        &[depth='3'] { margin-left: 3.6em; }
        &[depth='4'] { margin-left: 4.4em; }
        &[depth='5'] { margin-left: 5.2em; }
        &[depth='6'] { margin-left: 6em; }
        &[depth='7'] { margin-left: 6.8em; }
        &[depth='8'] { margin-left: 7.6em; }
        &[depth='9'] { margin-left: 8em; }
        &[depth='10'] { margin-left: 8.2em; }
        &[depth='11'] { margin-left: 8.4em; }

    }



      .buttons{
         margin : 0.3em 0; 
      }
      .reply, .delete, .report, .like, .edit{
            padding : 0.3em;
            border: 1px solid grey;
            border-radius: 2px;
      }

     .reply      { @include title_icon( '\f112' ); }
     .delete     { @include title_icon( '\f014' ); } 
     .report     { @include title_icon( '\f024' ); } 
     .like       { @include title_icon( '\f164' ); }
     .edit       { @include title_icon( '\f044' ); }
}