register-page >section {
   
   margin-top: 50px;
   
    table{
   
        background-color: inherit;
        width: 94%;
        tr {
            td {
                padding: .4em 0;
            }
           
        }
    }

    
}